/*small intro of flex*/

.container{
    border: 4px solid;
    height: 37vh;/*without having height to the container you can't use align-items*/
    display: flex;
    flex-direction: row;/*show horizontally or vertically or in reverse*/
    /* justify-content: space-around; */ /*justy on main i.e. x axis */
    /*align-items: flex-start;*/ /*used for alignment in cross axis i.e. y axis*/
    flex-wrap:wrap;
    align-content: flex-start;/* align-content is used with flex-wrap*/
    column-gap: 2em;
    row-gap: 2em;
    
}

.box{
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
    border-radius: 15px;
}
#box1{
    background-color: red;
    align-self: start;
    /* order:-1; *//* is defalut*/
    /*order:1;*//*to put box1 at last*/
}
#box2{background-color: yellow;}
#box3{background-color: green;}
#box4{background-color: blue;}


/*Transform*/

.boxx{
    width: 70px;
    height: 70px;
    border: 3px solid;
    font-size: 3em;
    text-align: center;
    transform: translateX(100px) rotateZ(45deg) scale(1.1); 
    /* transform: skew(45deg); */
    /* transform: rotateX(45deg); */
    /* transform: scale(1.1);/*1.1 means 10% */ 
}
#boxx1{background-color: aqua;}
#boxx2{background-color: pink;}
#boxx3{background-color: palevioletred;}

/*animations*/
#boox{
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
    background-color: chartreuse;
    animation-name: slideRight;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-direction: normal;
    animation-play-state:running;
    /*to set animation on/off*/
    animation-timing-function: cubic-bezier(0, 1, 0.7,-0.12);
/*ease-in-out:first moves fast then slow down, linear: for constant speed, if we use steps(5) :animaton will take 5 steps to complete*/
}
@keyframes slideleft{
    from{transform: translateX(400%)}
}
@keyframes slideRight{
    to{transform: translateX(400%)}
}
@keyframes slidedown{
    to{transform: translateY(400%)}
}
@keyframes rotate{
    20%{transform: rotateZ(360deg)}/*20% of time will be used for rotation and remaining is to raotate it backeards*/
}
@keyframes grow{
    100%{transform: scale(1.5)}
}
@keyframes fade{
    50%{opacity: 0}
}
@keyframes colorchange{
   0%{background-color: chartreuse;}
   20%{background-color: aqua;}
   40%{background-color: rgb(255, 0, 251);}
   60%{background-color: burlywood;}
   80%{background-color: coral;}
   100%{background-color: darkmagenta;}
}
@keyframes glow{
    100%{box-shadow: 0px 0px 5px black}
}